* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.quote-container {
  background: #fff;
  padding: 0 10vmin;
  margin: 0 10vmin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-des {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-des p {
  margin-left: 1rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  margin: 0 10vmin;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

#chevron {
  background-color: transparent;
  border: none;
  margin: 5vmin 10vmin;
  filter: drop-shadow(3vmin 2vmin 0.2vmin rgba(0, 0, 0, 0.2));
}

#quote-logo {
  filter: drop-shadow(3vmin 2vmin 0.2vmin rgba(0, 0, 0, 0.2));
}
